/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}




.card-container {
    max-width: 500px;
    height: 700px;
    border: 1px solid black;
    margin: 0 auto;
    background: #171314;
    margin-top: 56px;
    border-radius: 25px;
    box-sizing: border-box;
}

.card-background {
    border: 1px solid green;
    flex-basis: 80%;
    height: 595px;
    margin: 22px 22px 0 22px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
    background-image: url(/images/green-background.jpg);
    display: flex;
    z-index: 0;
}

.card-frame {
    
    z-index: 1;
    position: relative;
    height: 109%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid orange;
}

.frame-header,
.frame-type-line {
    border: 2px solid #346348;
    background: #CAD7D0;
    display: flex;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    border-radius: 15px/40px;
}

.name,
.type {
    font-size: 1.5em;
    margin-left: 10px;
}

#mana-icon {
    font-size: 1.4em;
    background: #ADD3AC;
    border-radius: 50%;
    padding: 2px;
    box-sizing: border-box;
    box-shadow: -0.05em 0.15em 0px 0 black;
    margin-right: 5px;
}

.frame-art {
    border: 1px solid #224E33;
    border-bottom-style: double;
    height: 50%;
    margin: 0 10px;
}

#set-icon {
    height: 9%;
    width: 6%;
    overflow: hidden;
    margin-right: 10px;
}

.frame-type-line {
    margin-top: 0;
}

.frame-text-box {
    border: 1px solid #224E33;
    margin: 0 10px;
    background: #CAD7D0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
    padding: 10px;
    box-sizing: border-box;
    font-size: 1.25em;
}

.flavour-text {
    font-style: italic;
    padding: 10px 0;
    border: 1px solid pink;
}

p {
    margin-bottom: 5px;
}

.ftb-inner-margin {
    margin: 5px 1px;
}

.frame-bottom-info {
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 5px 15px 0 15px; 
}

.frame-bottom-info img {
    overflow: hidden;
    width: 10px;
}
.fbi-left {
    flex: 1;
}
.fbi-left p:first-of-type {
    margin-bottom: 1px;
}
.fbi-right {
    flex: 1;
    text-align: right;
}

.fbi-left,
.fbi-right {
    font-size: 10px;
}

.fbi-center {
    border: 5px solid #171314;
    border-radius: 60%;
    flex-basis: 40px;
    height: 15px;
    position: relative;
    bottom: 18px;
    z-index: 2;
    background: lightgray;
}

.inner-margins {
    margin: 0 10px;
}
 
//Reduce frame left and right margins
