/* add your CSS here */
body {
    font-family: 'Roboto Slab', serif;
}
.wrapper {
    max-width: 320px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'Roboto Slab', serif;
    padding: 10px;
    -webkit-box-shadow: 10px 10px 30px #ccc;
    box-shadow: 5px 5px 30px #ccc;
    background: #FFF8E7;
}

.pic {
    max-width: 300px;
    max-height: 300px;  
    border-radius: 4px;
}

ul {
    list-style: none;
    padding-left: 0;
}

.wrapper
.text-container {
    border: 1px solid #ddd;
    border-radius: 4px;
}
.main-container {
    overflow: hidden;
    margin-bottom: 10px;
}
.text-container {
    padding: 14px;
}



